$logoSize: 30px;
$navSize: 20px;
$h2Size:50px;
$h3Size:22px;
$h4Size:20px;
$h5Size:15px;
$textSize:18px;

$headerHeight:100px;

$homeHeight: 550px;
$resumeHeight:1150px;
$resumeContainHeight:1000px;
$resumeTitleHeight:150px;
$resumeElementHeight:160px;
$resumeElementWidth:80%;

$maxPageWidth: 1000px;