@import "navigation.scss";
@import "__colors.scss";
@import "__sizes.scss";
@import "homepage.scss";

body{
    background-image: url(../images/main_bg.png);
    background-color: $backgroundGray;
    box-sizing: border-box;

    section{
        margin-top: 20vh;
    }
}