@import "__colors.scss";
@import "__sizes.scss";

header{
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-around;
    background-color: $backgroundGray;
    box-sizing: border-box;
    margin:0 auto;
    border:5px solid red;
    width: 100%;
    height: $headerHeight;
    align-items: center;
    z-index: 1000;

    .logo{
        flex: 1;
        text-align: center;
        font-size: $logoSize;
        align-items: center;

        span{
            color:$basicGreen; 
        }
    }

    nav{
        display: flex;
        flex: 1;
        justify-content: space-around;
        align-items: center;
        font-size: $navSize;

        button{
            display:none;
        }
        @media screen and (max-width: 1000px){
            button{
                display:block;
            }
            div a{
                display:none;
            }
        }
    }
}